@{
    Layout = null;
}

<div class="view-toggle">
    <button class="btn-toggle" data-view="">Chuẩn</button>
    <button class="btn-toggle" data-view="IndexSacombankBlue">Xanh</button>
    <button class="btn-toggle" data-view="IndexSacombankRed">Đỏ</button>
</div>

